/* FONTS */
/* author font */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* quote font */
@import url(//db.onlinewebfonts.com/c/3d0de438052b4d05da1dd84077e45619?family=ReallyBigShoeNFW01-Regular);

/* backup quote font */
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

/* APP.JS */

* {
  color: pink;
  background-color: #1e1e1e;
}

h1{
  font-weight: normal;
  color: #BC6FF1;
}

header {
  text-align: center;
  color: #BC6FF1;
}

#header-author {
  font-family: "Berkshire Swash";
  color: #BC6FF1;
}

header a {
  color: #BC6FF1;
  text-decoration: none;
}

#main-nav {
  text-align: center;
  display: flex;
  width: 200px;
  justify-content: space-between;
  border: 5px solid gray;
  margin-right: 35vw;
  margin-left: 37vw;
}

.nav-item {
  color: white;
  font-size: large;
  text-decoration: none;
  border: 3px solid white;
}

#social-icons {
  text-align: center;
}

footer {
  text-align: center;
  color: #BC6FF1;
}

#author {
  font-family: "Berkshire Swash";
  color: #BC6FF1;
}

/* HOME PAGE */

.home-container{
  text-align: center;
}

.quote {
  color: #BC6FF1;
  font-family: "ReallyBigShoeNFW01-Regular", "Shalimar";
  font-size: xx-large;
}

/* @media (max-width: 800px) {
  .quote {
    color: purple;
  }
} */

/* ABOUT PAGE */

.about-container {
  display: flex;
  flex-direction: column;
  border: 5px solid green;
}

.languages {
  color: white;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  border: 3px solid pink;
}

.language {
  display: flex;
  text-align: center;;
}